<%- include ('./partials/header') -%>

    <title>Create Password</title>
</head>
<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
          <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                        <div class="top">
                            <img src="/images/touchcore-logo-white.png" alt="Touchcore HRM">
                        </div>
              <div class="card">
                            <div class="header">
                                <p class="lead">Reset password</p>
                            </div>
                            <div class="body">
  <form class="form-auth-small" action="/org/<%=urlname%>/user/<%=token%>/onboard" method="POST">
    <label for="username">Username</label>
    <input class="form-control"  type="text" id="username" value="<%=user.username%>" name="username" readonly required>
      <label for="password">New Password</label>
      <input class="form-control"  type="password" id="password" name="password" autofocus="true" required>
      <label for="confirm">Confirm Password</label>
      <input class="form-control" type="password" id="confirm" name="confirmPassword" required>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Create Password</button>
  </form>  
  </div>
  </div>
  </div>
  </div></div>
  </div>
  
  <%- include ('./partials/footer') -%>